@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    height: 100vh;
}

#userAv {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

a {
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: .2rem;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#repocard {
    padding: 1rem;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
}

@media screen and (max-width: 768px) {}