@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

html {
    background: url("./img/jeremy-bishop-1braZySlEKA-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
}

#avblob {
    padding: .5rem;
}

#userAv {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
}

a {
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

#repocard {
    width: 45%;
    padding: .5rem;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.7);
}

#row1Div {
    display: flex;
}

#raDiv {
    font-size: .8rem;
    margin-left: auto;
}

#tDiv {
    font-size: .8rem;
    margin-left: .5rem;
}

#footer {
    font-size: .7rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #projects {
        flex-flow: column nowrap;
    }

    #repocard {
        width: auto;
    }
}